body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
#footer {
	margin-top: auto;
}

html, body {
  background: #e9e9e9;
  /* height: 100%; */
}

td, textarea, pre {
  background: #fff;
}

h1 {
  text-align: center;
  font-family: Georgia,'Times New Roman',Times,serif;
}
@media (min-width: 320px) and (max-width: 767px) {
	h1 {
		margin-top: 0;
		text-align: left;
		font-size: 24px;
	}
	h2 {
		font-size: 21px;
	}
}

form {
  margin: 10px auto 20px;
  padding: 10px 15px;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 0 0 10px #fff inset;
  background: #ddd;
}

dfn {
  border-bottom: 1px dotted;
}
form a:focus {
  outline: none;
}
ol {
	padding-left: 20px;
	}

a:visited {color:#1e4766}

@media (max-width: 767px) {
	.lead {
		font-size: 24px;
	}
}


.accordion-toggle {
  border-bottom: 1px dashed #2A6496;
}
.accordion-toggle:hover {
  text-decoration: none;
  border-bottom: 1px dashed #2A6496;
}

.ShowHideNext {
  border: 1px solid #ccc;
  background: #fff;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}
.ShowHideNext:hover {
  text-decoration: underline;
  border: 1px solid #999;
}
.ShowHidd {
  display: none;
  overflow: hidden;
  white-space: nowrap;
}
.white {
	margin: 0 0 10px;
	padding: 4px 10px;
  background: #fff;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
.white h1, .white h2, .white h3 {
  margin-top: 5px;
}
.subblock {
  margin: -4px 0 10px;
  padding: 4px 6px;
  background: #fff;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
	text-align: left;
}
.text-right .subblock {
	border-radius: 4px 0 4px 4px;
}
.showblock {
	display: block;
	
}
.bordergray {
	border: 1px solid #CCCCCC;
}
.bordergreen {
	border-color: #3e8f3e;
}

.btn-desc {
	border-bottom: 1px dotted #000;
}
.btn-desc:hover {
	/* border: 1px solid #999; */
}
textarea.form-control, input.form-control, select.form-control {
	border-color: #66AFE9
}
textarea.limited {
	border-radius: 4px 4px 0 0;
	border-bottom-color: #ccc;

}
.textarea-comm {
	padding: 2px 4px;
	background: #eee;
	border: 1px solid #66afe9;
	border-top: 0;
  border-radius: 0 0 4px 4px;
  text-align: right;
}

.tab-pane {
  padding: 10px;
  border-top: 1px solid #999;
}

#myform .nav-tabs > li {
  margin-bottom: -2px;
}
#myform .nav-tabs > li.active > a, #myform .nav-tabs > li.active > a:hover, #myform .nav-tabs > li.active > a:focus {
  border: 1px solid;
  border-color: #999999 #999999 #dddddd;
  border-radius: 3px 3px 0 0;
  background: linear-gradient(to bottom, #eee 0, #ddd 100%) #ddd;
}
#myform .nav > li > a:hover, .nav > li > a:focus {
  background-color: #ddd;
}
#myform .nav-tabs > li > a:hover {
  border-color: #888888 #888888 #dddddd;
}

.nav-tabs A:focus{outline: none;}

#result .nav-tabs {
  border-bottom: none;
}
#result .nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
	
}
#result .nav-tabs > li.active > a, #result .nav-tabs > li.active > a:hover, #result .nav-tabs > li.active > a:focus {
	background: #ddd linear-gradient(to bottom, #f3f3f3 0px, #fff 100%) repeat scroll 0 0;
	border-color: #999 #999 #fff;
}
#result .nav-tabs > li > a:hover {
  
}

#my-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  opacity: 0.5;
  z-index: 30;
  display: none;
}
#status {
  position: fixed;
  width: 50%;
  left: 25%;
  min-height: 32px;
  max-height: 50%;
  margin: 10px 0;
  padding: 5px 30px;
  display: none;
  border: 1px solid #EEA236;
  border-radius: 4px;
  box-shadow: 0 5px 10px #000;
  overflow-y: auto;
  background: #fff;
  z-index: 40;
}
#statusText {
  margin: 15px 0; 
}
#result {
	margin: 10px 0;
	padding: 15px;
	position: relative;
	/* z-index: 1050; */
	background: #fff;
	border: 1px solid #4CAE4C;
	border-radius: 4px;
}
#result TEXTAREA {
  width: 100%;
  padding: 5px;
}

#footer {
  color: #fff;
  position: relative;
  z-index: 40;
}
#footer  .navbar {
  margin-bottom: 0;
  border: none;
}

.adsense-bottom {
	z-index: 40;
	position: relative;
}

.container {
	/* height: auto;
	margin: -20px auto -50px;
	padding: 20px 0 60px; */
}
@media (min-width: 320px) and (max-width: 767px) {
	.container {
		/* padding: 20px 3px 30px; */
	}
	
	#status {
		width: 80%;
		left: 10%;
		
	}
}

.red, .red A, .red A:visited {color: red;}

.spektr:after, .nps:after, .vital:after{
	margin: 0 0 0 3px;
	padding: 1px 3px;
	border-radius: 3px;
	font-weight: normal;
}
.spektr:after {
	background: #abd4ac;
	content: "spectr";
}
.nps:after {
	background: #fa7848;
	content: "НПС";
	color: #fff;
}
.vital:after {
	background: #f5d8b0;
	content: "vital";
}

@media (min-width: 320px) and (max-width: 767px) {
	UL.menu {
		padding-left: 20px;
	}
}
.menu LI {
  margin: 10px 0;
}

.modal-large {
  width: 80%;
  margin: 30px auto;
  position: relative;
  z-index: 1050;
}
.modal-content {
	padding: 1em;
}
.modal-content LI {
	margin-bottom: 0.5em;
}
.dotted {
	border-bottom: 0.09em dotted;
	cursor: pointer;
}
.dashed {
	border-bottom: 1px dashed;
	cursor: pointer;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
}

/** tablesorter **/
.tablesorter thead tr th {
	background-image: url('../img/bg.gif') ;
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 18px;
	cursor: pointer;
}
.tablesorter .headerSortUp {
	background-image: url('../img/asc.gif');
}
.tablesorter .headerSortDown {
	background-image: url('../img/desc.gif');
}
.tablesorter .headerSortDown, .tablesorter .headerSortUp {
  background-color: #ddd;
}

.btn-xs {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}
.btn-info {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #ffffff;
}
.btn {
  margin-bottom: 3px;
}
.btn-default,.btn-primary,.btn-success,.btn-info,.btn-warning,.btn-danger{
  text-shadow:0 -1px 0 rgba(0,0,0,.2);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075)
}
.btn-default:active,.btn-primary:active,.btn-success:active,.btn-info:active,.btn-warning:active,.btn-danger:active,.btn-default.active,.btn-primary.active,.btn-success.active,.btn-info.active,.btn-warning.active,.btn-danger.active{
  -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
.btn:active,.btn.active{
  background-image:none
}
.btn:focus {outline: none;}
.btn-default{
  text-shadow: 0 1px 0 #fff;
  background-image:-webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image:-o-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
  background-image:linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat:repeat-x;
  border-color:#dbdbdb;
  border-color:#ccc
}
.btn-default:hover,.btn-default:focus{
  background-color:#e0e0e0;
  background-position:0 -15px
}
.btn-default:active,.btn-default.active{
  background-color:#e0e0e0;
  border-color:#dbdbdb
}
.btn-default:disabled,.btn-default[disabled]{
  background-color:#e0e0e0;
  background-image:none
}
.btn-primary{
  background-image:-o-linear-gradient(top,#428bca 0,#2d6ca2 100%);
  background-image:linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat:repeat-x;border-color:#2b669a
}

.btn-primary:hover,.btn-primary:focus{background-color:#2d6ca2;background-position:0 -15px}.btn-primary:active,.btn-primary.active{background-color:#2d6ca2;border-color:#2b669a}.btn-primary:disabled,.btn-primary[disabled]{background-color:#2d6ca2;background-image:none}.btn-success{background-image:-webkit-linear-gradient(top,#5cb85c 0,#419641 100%);background-image:-o-linear-gradient(top,#5cb85c 0,#419641 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641));background-image:linear-gradient(to bottom,#5cb85c 0,#419641 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat:repeat-x;border-color:#3e8f3e}.btn-success:hover,.btn-success:focus{background-color:#419641;background-position:0 -15px}.btn-success:active,.btn-success.active{background-color:#419641;border-color:#3e8f3e}.btn-success:disabled,.btn-success[disabled]{background-color:#419641;background-image:none}.btn-info{background-image:-webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);background-image:-o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));background-image:linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat:repeat-x;border-color:#28a4c9}.btn-info:hover,.btn-info:focus{background-color:#2aabd2;background-position:0 -15px}.btn-info:active,.btn-info.active{background-color:#2aabd2;border-color:#28a4c9}.btn-info:disabled,.btn-info[disabled]{background-color:#2aabd2;background-image:none}.btn-warning{background-image:-webkit-linear-gradient(top,#f0ad4e 0,#eb9316 100%);background-image:-o-linear-gradient(top,#f0ad4e 0,#eb9316 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#f0ad4e),to(#eb9316));background-image:linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat:repeat-x;border-color:#e38d13}.btn-warning:hover,.btn-warning:focus{background-color:#eb9316;background-position:0 -15px}.btn-warning:active,.btn-warning.active{background-color:#eb9316;border-color:#e38d13}.btn-warning:disabled,.btn-warning[disabled]{background-color:#eb9316;background-image:none; }
.btn-danger{background-image:-webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);background-image:-o-linear-gradient(top,#d9534f 0,#c12e2a 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c12e2a));background-image:linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat:repeat-x;border-color:#b92c28}.btn-danger:hover,.btn-danger:focus{background-color:#c12e2a;background-position:0 -15px}.btn-danger:active,.btn-danger.active{background-color:#c12e2a;border-color:#b92c28}.btn-danger:disabled,.btn-danger[disabled]{background-color:#c12e2a;background-image:none}
.thumbnail,.img-thumbnail{-webkit-box-shadow:0 1px 2px rgba(0,0,0,.075);box-shadow:0 1px 2px rgba(0,0,0,.075)}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{background-color:#e8e8e8;background-image:-webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);background-image:-o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));background-image:linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);background-repeat:repeat-x}.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{background-color:#357ebd;background-image:-webkit-linear-gradient(top,#428bca 0,#357ebd 100%);background-image:-o-linear-gradient(top,#428bca 0,#357ebd 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#428bca),to(#357ebd));background-image:linear-gradient(to bottom,#428bca 0,#357ebd 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);background-repeat:repeat-x}
.navbar-default{background-image:-webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);background-image:-o-linear-gradient(top,#fff 0,#f8f8f8 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));background-image:linear-gradient(to bottom,#fff 0,#f8f8f8 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat:repeat-x;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075)}
.navbar-default .navbar-nav>.active>a{background-image:-webkit-linear-gradient(top,#ebebeb 0,#f3f3f3 100%);background-image:-o-linear-gradient(top,#ebebeb 0,#f3f3f3 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#f3f3f3));background-image:linear-gradient(to bottom,#ebebeb 0,#f3f3f3 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);background-repeat:repeat-x;-webkit-box-shadow:inset 0 3px 9px rgba(0,0,0,.075);box-shadow:inset 0 3px 9px rgba(0,0,0,.075)}.navbar-brand,.navbar-nav>li>a{text-shadow:0 1px 0 rgba(255,255,255,.25)}
.navbar-inverse{
  background-image:-webkit-linear-gradient(top,#3c3c3c 0,#222 100%);background-image:-o-linear-gradient(top,#3c3c3c 0,#222 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));background-image:linear-gradient(to bottom,#3c3c3c 0,#222 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat:repeat-x;
  z-index:20;
}
.navbar-inverse .navbar-nav>.active>a{background-image:-webkit-linear-gradient(top,#222 0,#282828 100%);background-image:-o-linear-gradient(top,#222 0,#282828 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#222),to(#282828));background-image:linear-gradient(to bottom,#222 0,#282828 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);background-repeat:repeat-x;-webkit-box-shadow:inset 0 3px 9px rgba(0,0,0,.25);box-shadow:inset 0 3px 9px rgba(0,0,0,.25)}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a {text-shadow:0 -1px 0 rgba(0,0,0,.25)}
.navbar-static-top,.navbar-fixed-top,.navbar-fixed-bottom{border-radius:0}
.alert{text-shadow:0 1px 0 rgba(255,255,255,.2);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05)}
.alert-success{background-image:-webkit-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);background-image:-o-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#dff0d8),to(#c8e5bc));background-image:linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);background-repeat:repeat-x;border-color:#b2dba1}
.alert-info{background-image:-webkit-linear-gradient(top,#d9edf7 0,#b9def0 100%);background-image:-o-linear-gradient(top,#d9edf7 0,#b9def0 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#d9edf7),to(#b9def0));background-image:linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);background-repeat:repeat-x;border-color:#9acfea}.alert-warning{background-image:-webkit-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);background-image:-o-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#fcf8e3),to(#f8efc0));background-image:linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);background-repeat:repeat-x;border-color:#f5e79e}.alert-danger{background-image:-webkit-linear-gradient(top,#f2dede 0,#e7c3c3 100%);background-image:-o-linear-gradient(top,#f2dede 0,#e7c3c3 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#e7c3c3));background-image:linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);background-repeat:repeat-x;border-color:#dca7a7}
.progress{background-image:-webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);background-image:-o-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#f5f5f5));background-image:linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);background-repeat:repeat-x}.progress-bar{background-image:-webkit-linear-gradient(top,#428bca 0,#3071a9 100%);background-image:-o-linear-gradient(top,#428bca 0,#3071a9 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#428bca),to(#3071a9));background-image:linear-gradient(to bottom,#428bca 0,#3071a9 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);background-repeat:repeat-x}.progress-bar-success{background-image:-webkit-linear-gradient(top,#5cb85c 0,#449d44 100%);background-image:-o-linear-gradient(top,#5cb85c 0,#449d44 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#449d44));background-image:linear-gradient(to bottom,#5cb85c 0,#449d44 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);background-repeat:repeat-x}.progress-bar-info{background-image:-webkit-linear-gradient(top,#5bc0de 0,#31b0d5 100%);background-image:-o-linear-gradient(top,#5bc0de 0,#31b0d5 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#31b0d5));background-image:linear-gradient(to bottom,#5bc0de 0,#31b0d5 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);background-repeat:repeat-x}.progress-bar-warning{background-image:-webkit-linear-gradient(top,#f0ad4e 0,#ec971f 100%);background-image:-o-linear-gradient(top,#f0ad4e 0,#ec971f 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#f0ad4e),to(#ec971f));background-image:linear-gradient(to bottom,#f0ad4e 0,#ec971f 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);background-repeat:repeat-x}.progress-bar-danger{background-image:-webkit-linear-gradient(top,#d9534f 0,#c9302c 100%);background-image:-o-linear-gradient(top,#d9534f 0,#c9302c 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c9302c));background-image:linear-gradient(to bottom,#d9534f 0,#c9302c 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);background-repeat:repeat-x}
.progress-bar-striped{background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)}.list-group{border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.075);box-shadow:0 1px 2px rgba(0,0,0,.075)}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus{text-shadow:0 -1px 0 #3071a9;background-image:-webkit-linear-gradient(top,#428bca 0,#3278b3 100%);background-image:-o-linear-gradient(top,#428bca 0,#3278b3 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#428bca),to(#3278b3));background-image:linear-gradient(to bottom,#428bca 0,#3278b3 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0);background-repeat:repeat-x;border-color:#3278b3}.panel{-webkit-box-shadow:0 1px 2px rgba(0,0,0,.05);box-shadow:0 1px 2px rgba(0,0,0,.05)}.panel-default>.panel-heading{background-image:-webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);background-image:-o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));background-image:linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);background-repeat:repeat-x}.panel-primary>.panel-heading{background-image:-webkit-linear-gradient(top,#428bca 0,#357ebd 100%);background-image:-o-linear-gradient(top,#428bca 0,#357ebd 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#428bca),to(#357ebd));background-image:linear-gradient(to bottom,#428bca 0,#357ebd 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);background-repeat:repeat-x}.panel-success>.panel-heading{background-image:-webkit-linear-gradient(top,#dff0d8 0,#d0e9c6 100%);background-image:-o-linear-gradient(top,#dff0d8 0,#d0e9c6 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#dff0d8),to(#d0e9c6));background-image:linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);background-repeat:repeat-x}.panel-info>.panel-heading{background-image:-webkit-linear-gradient(top,#d9edf7 0,#c4e3f3 100%);background-image:-o-linear-gradient(top,#d9edf7 0,#c4e3f3 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#d9edf7),to(#c4e3f3));background-image:linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);background-repeat:repeat-x}.panel-warning>.panel-heading{background-image:-webkit-linear-gradient(top,#fcf8e3 0,#faf2cc 100%);background-image:-o-linear-gradient(top,#fcf8e3 0,#faf2cc 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#fcf8e3),to(#faf2cc));background-image:linear-gradient(to bottom,#fcf8e3 0,#faf2cc 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);background-repeat:repeat-x}.panel-danger>.panel-heading{background-image:-webkit-linear-gradient(top,#f2dede 0,#ebcccc 100%);background-image:-o-linear-gradient(top,#f2dede 0,#ebcccc 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#ebcccc));background-image:linear-gradient(to bottom,#f2dede 0,#ebcccc 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);background-repeat:repeat-x}
.well{background-image:-webkit-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);background-image:-o-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#e8e8e8),to(#f5f5f5));background-image:linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);background-repeat:repeat-x;border-color:#dcdcdc;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1)}


.gotop, .godown {
  position: fixed;
  height: 50%;
  top:0;
  cursor: pointer;
  color: #e9e9e9; 
  font-size: 24px;
  z-index:10;
}
.gotop B, .godown B{display:none; text-align: center;width: 100%;}
.gotop:hover B, .godown:hover B {display:block;}
.gotop {padding: 24px 0 0;top:0;}
.godown {top:50%;}
.gotop:hover, .godown:hover{
  background: #e3e3e3;
  color: #333;
}
.godown B {
  position: absolute;
  bottom: 60px;
  
}

@media (min-width: 768px) {
  .gotop, .godown {width: 7px;}
}
@media (min-width: 1200px) {
  .gotop, .godown {width: 10px;}
}
@media (min-width: 1280px) {
  .gotop, .godown {width: 15px;}
}
@media (min-width: 1360px) {
  .gotop, .godown {width: 20px;}
}

/* стилизуем селекты*/ /* http://harvesthq.github.io/chosen/ */
.chosen-container {
	border: 1px solid #66AFE9;
	border-radius: 3px;
}
.selectCity {

}
.chosen-choices {margin:0;}
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  padding: 0 3px;
  width: 100%;
  height: auto !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: text;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

.bookmarklet {
  cursor: move;
}

.w10 {width: 10%;}
.w20 {width: 20%;}
.w30 {width: 30%;}
.w40 {width: 40%;}
.w50 {width: 50%;}


.w50px {width: 50px;}
.w60px {width: 60px;}
.w300px {width: 300px;}
.w500px {width: 500px;}

.w50vw {width: 50vw; overflow: hidden;}

.wMax30vw {max-width: 30vw; overflow: hidden; display: inline-block;}
.wMax40vw {max-width: 40vw; overflow: hidden; display: inline-block;}
.wMax50vw {max-width: 50vw; overflow: hidden; display: inline-block;}

.loading-img {
  background: url("/tools/template/img/ajax-loader.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 16px;
  margin: 2px 5px 0 0;
  width: 16px;
}
.header-user-info {
  margin: 2px 0;
  padding: 0 5px;
  float: right;
  border-radius: 3px;
  background: #555;
  line-height: 18px;
}
.footer-contacts {
  padding: 15px 10px;
  position: absolute;
  right: 0;
  float: right;
}
#footer .navbar-nav {
  margin: 0 265px 0 0;
}

.navbar-inverse .navbar-nav > li a {
	color: #999999;
}
.flexMenu-popup {
  bottom: 40px;
  background: #222;
  padding: 10px;
}

/*** форма обратной связи ***/
#reply-message {
	background: #dff0d8;
	font-size: 18px;
	height: 100%;
	padding: 30px 0;
	text-align: center;
	display:none;
}
.block-message {
	height: 150px;
	position: fixed;
	bottom: 80px;
	right: -1px;
	border: 1px solid #2d6ca2;
	box-shadow: 0 3px 5px #000;
	z-index: 1150;
}
.btn-message {
	width: 20px;
	height: 100%;
	background: #ccc url("/tools/template/img/report.png") no-repeat scroll 0 0;
	float:left;
	z-index: 12;
	cursor: pointer;
}
@media (min-width: 200px) and (max-width: 1000px) {
	.btn-message {
		width: 10px;
	}
}
.btn-message:hover, .active .btn-message {width: 30px;}
.wrapper-message {
	display: none;
	width: 470px;
	float:left;
	height: 100%;
	margin: 0 -1px 0 0;
	padding: 0 0 0;
}
.block-message LABEL {font-size: 13px; white-space: nowrap}

@media (min-width: 200px) and (max-width: 500px) {
	.wrapper-message {
		width: 91%;
	}
	.block-message LABEL {
		white-space: normal;
	}
}

.block-message form {
	margin: 0;
	padding: 5px 10px;
	height: 100%;
	border: none;
	box-shadow:none;
	border-radius:0;
}
.block-message textarea {
	height: 75px;
	margin: 0 0 8px;
}


.item {
	margin: 0 0 10px;
  padding: 3px 6px;
	border-left: 3px solid #ccc;
}
sup.alert-success {
  margin-bottom: 3px;
  padding: 3px;
	border-radius: 4px;
	background-image: linear-gradient(to bottom, #dff0d8 0px, #c8e5bc 100%);
	background-repeat: repeat-x;
  color: #3c763d;
	
}

.new-window {
	width: 1.1em;
	height: 0.9em;
	display: inline-block;
	background-color: #b3b3b3;
	background-image: url('/tools/template/img/new_window.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 4px;
}
.new-window:hover {
	background-color: #a3a3a3;
}
.pointer {
	cursor: pointer;
}

.popover {
  max-width: 50%;
}

.highcharts-reset-zoom {position: relative; right: -115px;}

/* datetimepicker*/
.icon-arrow-right:before {content: "\e080";}
.icon-arrow-left:before {content: "\e079";}

.btn-rekl {
	width: 320px;
	height: 30px;
	background-image: url('/tools/template/img/button_rookee.png');
	background-size: 100% auto;
	float:right;
}

.bg-info, .bg-success, .bg-warning {
	/* padding: 0.5em; */
}
.bg-info {
  background-color: #d9edf7;
}
.bg-success {
  background-color: #dff0d8;
}
.bg-warning {
	background-color: #fcf8e3;
}

.problems_list {
	padding: 1em;
}